@mixin clearfx(){
  box-sizing: border-box;
  *zoom: 1;
  &:before,
  &:after {
    display: table;
    content: "";
    line-height: 0;
  }
  &:after {
    clear: both;
  }
}

@mixin debug {
    border: 1px solid red;
}

@mixin media($rul){
    @media screen and(#{$rul}){
        @content;
    }
}
