.debug {
  border: 1px solid red;
}

.nav {
  @include clearfx();
  min-height: $navbar-height;
  padding: 0 5px;
  margin-bottom: 5px;
  a.brand {
    @include align-items(center);
    box-sizing: border-box;
    color: $navbar-brand;
    @include flexbox();
    float: left;
    font-size: 1.3em;
    font-weight: bolder;
    height: $navbar-height;
    margin: 0;
    padding: 0;
  }
  ul.nav-bar {
    @include clearfx();
    @include flexbox();
    @include flex-direction(row);
    
    list-style: none;
    >li {
      >a {
        align-items: center;
        box-sizing: border-box;
        color: $navbar-links;

        @include flexbox();

        height: $navbar-height;

        @include justify-content(center);

        min-width: 70px;
        text-align: center;

        &:hover {
          background-color: darken(#2C8ECE, 20%);                     
          
        }
      }
    }
  }
}
