$setting:(
    col:12,
    container_width:1150,
    column_margin:4,
    row_margin:4px,
    row_padding:4px
);

// Globle styles
*{
    font-family: $font-family;
    color: $default-color;
    margin: 0;padding: 0;
    font-size: 16px;    
}
a{
    text-decoration: none;
    cursor: pointer;
    color: lighten($default-color,30%);
}
