/* This is a simple responsive Grid system Developed by A.G.D.Madusanka Date: 2016-04-10
*/
/*! normalize.css v3.0.3 | MIT License | github.com/necolas/normalize.css */
html { font-family: sans-serif; -ms-text-size-adjust: 100%; -webkit-text-size-adjust: 100%; }

body { margin: 0; }

article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary { display: block; }

audio, canvas, progress, video { display: inline-block; vertical-align: baseline; }

audio:not([controls]) { display: none; height: 0; }

[hidden], template { display: none; }

a { background-color: transparent; }

a:active, a:hover { outline: 0; }

abbr[title] { border-bottom: 1px dotted; }

b, strong { font-weight: bold; }

dfn { font-style: italic; }

h1 { font-size: 2em; margin: 0.67em 0; }

mark { background: #ff0; color: #000; }

small { font-size: 80%; }

sub, sup { font-size: 75%; line-height: 0; position: relative; vertical-align: baseline; }

sup { top: -0.5em; }

sub { bottom: -0.25em; }

img { border: 0; }

svg:not(:root) { overflow: hidden; }

figure { margin: 1em 40px; }

hr { box-sizing: content-box; height: 0; }

pre { overflow: auto; }

code, kbd, pre, samp { font-family: monospace, monospace; font-size: 1em; }

button, input, optgroup, select, textarea { color: inherit; font: inherit; margin: 0; }

button { overflow: visible; }

button, select { text-transform: none; }

button, html input[type="button"], input[type="reset"], input[type="submit"] { -webkit-appearance: button; cursor: pointer; }

button[disabled], html input[disabled] { cursor: default; }

button::-moz-focus-inner, input::-moz-focus-inner { border: 0; padding: 0; }

input { line-height: normal; }

input[type="checkbox"], input[type="radio"] { box-sizing: border-box; padding: 0; }

input[type="number"]::-webkit-inner-spin-button, input[type="number"]::-webkit-outer-spin-button { height: auto; }

input[type="search"] { -webkit-appearance: textfield; box-sizing: content-box; }

input[type="search"]::-webkit-search-cancel-button, input[type="search"]::-webkit-search-decoration { -webkit-appearance: none; }

fieldset { border: 1px solid #c0c0c0; margin: 0 2px; padding: 0.35em 0.625em 0.75em; }

legend { border: 0; padding: 0; }

textarea { overflow: auto; }

optgroup { font-weight: bold; }

table { border-collapse: collapse; border-spacing: 0; }

td, th { padding: 0; }

* { font-family: "Open Sans", sans-serif; color: #2C3E50; margin: 0; padding: 0; font-size: 16px; }

a { text-decoration: none; cursor: pointer; color: #698bac; }

.debug { border: 1px solid red; }

.nav { box-sizing: border-box; *zoom: 1; min-height: 50px; padding: 0 5px; margin-bottom: 5px; }
.nav:before, .nav:after { display: table; content: ""; line-height: 0; }
.nav:after { clear: both; }
.nav a.brand { -webkit-box-align: center; -ms-flex-align: center; -webkit-align-items: center; -moz-align-items: center; align-items: center; box-sizing: border-box; color: #ECF0F1; display: -webkit-box; display: -webkit-flex; display: -moz-flex; display: -ms-flexbox; display: flex; float: left; font-size: 1.3em; font-weight: bolder; height: 50px; margin: 0; padding: 0; }
.nav ul.nav-bar { box-sizing: border-box; *zoom: 1; display: -webkit-box; display: -webkit-flex; display: -moz-flex; display: -ms-flexbox; display: flex; -webkit-box-direction: normal; -webkit-box-orient: horizontal; -webkit-flex-direction: row; -moz-flex-direction: row; -ms-flex-direction: row; flex-direction: row; list-style: none; }
.nav ul.nav-bar:before, .nav ul.nav-bar:after { display: table; content: ""; line-height: 0; }
.nav ul.nav-bar:after { clear: both; }
.nav ul.nav-bar > li > a { align-items: center; box-sizing: border-box; color: #ECF0F1; display: -webkit-box; display: -webkit-flex; display: -moz-flex; display: -ms-flexbox; display: flex; height: 50px; -webkit-box-pack: center; -ms-flex-pack: center; -webkit-justify-content: center; -moz-justify-content: center; justify-content: center; min-width: 70px; text-align: center; }
.nav ul.nav-bar > li > a:hover { background-color: #1a547a; }

.container { box-sizing: border-box; *zoom: 1; max-width: 1150px; margin: 0 auto; padding: 0 5px; }
.container:before, .container:after { display: table; content: ""; line-height: 0; }
.container:after { clear: both; }

.row { box-sizing: border-box; *zoom: 1; display: block; margin-bottom: 4px; }
.row:before, .row:after { display: table; content: ""; line-height: 0; }
.row:after { clear: both; }
.row [class*=col] { box-sizing: border-box; *zoom: 1; margin-right: 0.34783%; display: inline-block; float: left; padding: 4px; }
.row [class*=col]:before, .row [class*=col]:after { display: table; content: ""; line-height: 0; }
.row [class*=col]:after { clear: both; }
@media screen and (max-width: 650px) { .row [class*=col-md] { display: block; margin: 4px 0 0 0; padding: 0; width: 100%; } }
.row [class*=col]:last-child { padding-right: 0; }

.col-md-1 { width: 7.98551%; }

.col-md-2 { width: 16.31884%; }

.col-md-3 { width: 24.65217%; }

.col-md-4 { width: 32.98551%; }

.col-md-5 { width: 41.31884%; }

.col-md-6 { width: 49.65217%; }

.col-md-7 { width: 57.98551%; }

.col-md-8 { width: 66.31884%; }

.col-md-9 { width: 74.65217%; }

.col-md-10 { width: 82.98551%; }

.col-md-11 { width: 91.31884%; }

.col-md-12 { width: 99.65217%; }

.col-xm-1 { width: 7.98551%; }

.col-xm-2 { width: 16.31884%; }

.col-xm-3 { width: 24.65217%; }

.col-xm-4 { width: 32.98551%; }

.col-xm-5 { width: 41.31884%; }

.col-xm-6 { width: 49.65217%; }

.col-xm-7 { width: 57.98551%; }

.col-xm-8 { width: 66.31884%; }

.col-xm-9 { width: 74.65217%; }

.col-xm-10 { width: 82.98551%; }

.col-xm-11 { width: 91.31884%; }

.col-xm-12 { width: 99.65217%; }

.span-1 { margin-left: 8.33333%; }

.span-2 { margin-left: 16.66667%; }

.span-3 { margin-left: 25%; }

.span-4 { margin-left: 33.33333%; }

.span-5 { margin-left: 41.66667%; }

.span-6 { margin-left: 50%; }

.span-7 { margin-left: 58.33333%; }

.span-8 { margin-left: 66.66667%; }

.span-9 { margin-left: 75%; }

.span-10 { margin-left: 83.33333%; }

.span-11 { margin-left: 91.66667%; }

.span-12 { margin-left: 100%; }

.pull-left, .pull-right, .center { box-sizing: border-box; *zoom: 1; }
.pull-left:before, .pull-left:after, .pull-right:before, .pull-right:after, .center:before, .center:after { display: table; content: ""; line-height: 0; }
.pull-left:after, .pull-right:after, .center:after { clear: both; }

.pull-left { float: left; }

.pull-right { float: right; }

.center { margin: auto; }

/*# sourceMappingURL=grid.css.map */
