/*
  This is a simple responsive Grid system
  Developed by A.G.D.Madusanka
  Date: 2016-04-10
*/

@import "normalize";
@import "variable";
@import 'setup';
@import 'mixin';
@import 'flex';
@import 'nav';

.container{
    @include clearfx();
    max-width: map-get($setting,container_width)*1px;
    margin: 0 auto;
    padding: 0 5px;
}

// Calculation
$margin: map-get($setting,column_margin);
$width: map-get($setting,container_width);
$clear:($margin*100/$width) * 1%;

.row{
   @include clearfx();
   display: block;
   margin-bottom: map-get($setting,row_margin);
    [class*=col]{
        @include clearfx();
        margin-right: $clear;
        display: inline-block;
        float: left;
        padding: map-get($setting,row_padding);
    }
    [class*=col-md]{
      @include media("max-width:650px"){
          display: block;
          margin: 4px 0 0 0;
          padding: 0;
          width: 100%;
      }
    }
    [class*=col]:last-child{
        padding-right: 0;
    }
}
@for $i from 1 through map-get($setting,col){
    .col-md-#{$i}{
        width: ($i/map-get($setting,col))*100% - $clear;
    }
}
@for $i from 1 through map-get($setting,col){
    .col-xm-#{$i}{
        width: ($i/map-get($setting,col))*100% - $clear;
    }
}
@for $i from 1 through map-get($setting,col){
    .span-#{$i}{
        margin-left: ($i/map-get($setting,col))*100%;
    }
}

.pull-left,.pull-right,.center{
    @include clearfx();
}
.pull-left{
    float: left;
}
.pull-right{
    float: right;
}
.center{
    margin: auto;
}
