@import "mixin";
@import "flex";


$blue:#2980B9;

.nav{
    background-color: darken(#2C3E50, 5%);
}
#body{
  [class*=col]{
    @include flexbox();
    @include justify-content(center);
    @include align-items(center);
    background-color: #2980B9;
    color: #fff;    
    height: 50px;
    cursor: pointer;
    &:hover{
      background-color: darken(#2980B9, 10%);
    }
  }
}

#course{
  hr{
    margin: 10px;
  }
    div{

      &:hover{
        background-color: lighten(gray,45%);
      }
    }
    h2{
      font-weight: bolder;
      color: $blue;
    }
    p{
      margin: 10px 10px;
    }
    blockquote{
      quotes: '\201C' '\201D';
      font-size: 5.5em;

      &::before,&::after{
        font-family: Arial, san-serif;
        position: relative;
        color: #eee;
        font-size: 2.5em;
        z-index: -1;
      }
      &::before{
          content: open-quote;
          left: 25%;
          top: 170px;
      }
      &::after{
        content: close-quote;
        left: 45%;
        top: 40px;

      }
    }
    i{
      font-size: 2.5em;
      padding: 5px 0 0 5px;

      color: $blue;
    }

    .row:last-child{
      text-align: center;
    }
    a{
      display: inline-block;;
      padding: 10px 20px;
      margin: 10px 0 20px 0;
      background-color: $blue;
      color: #fff;
      text-align: center;
      &:hover{
        background-color: darken($blue , 10%);
      }
    }

}

.flex-column{
  @include flexbox();
  @include flex-direction(column);
  @include justify-content(center);
}
.flex-row{
  @include flexbox();
  @include flex-direction(row);
  @include justify-content(space-around);
}

#footer{

  [class *= col-md]{
      @include flexbox();
      @include justify-content(center);
      @include align-items(center);
  }

  background-color: darken(#2C3E50, 2%);
  min-height: 150px;
  padding: 0;margin: 0;
  *{color: #fff;}
  text-align: center;

  #dev{    
    list-style: none;    
    margin-top:10px;
    #name{
      font-size: 1.3em;
      span{
         color: lighten(#2C3E50, 15%);
         display: block;
      }
    }
    i{
      font-size: 3.5em;
      color: lighten(#2C3E50, 15%);
      display: block;
    }
  }
  #prase{   
    margin-top: 20px;
    color:lighten(#2C3E50, 30%);

  }

  ul#soc{
    list-style: none;
    text-align: center;
    margin: 0;padding: 0;
    li{
     
      margin-left: 5px;
      margin-top:50px;
      i{
        font-size: 1.5em;
        background-color: lighten(#2C3E50, 15%);
        color:#2C3E50;
        padding: 10px;
        border-radius: 50%;
        &:hover{
           color:lighten(#2C3E50, 50%);
        }
      }
    }
  }
}


hr{
  border-color: rgba(#2C3E50, 0.1);
  margin: 20px 0;
}

@mixin ir() {
  font: 0/0;
  text-shadow: none;
  color: transparent;
  width: 0;height: 0;
  content: "";
  position: relative;
  top: (-53px/2);
  left: 85.9%;
}

.arrow-left{
  &::after{
    @include ir;
    border-top: (50px/2) solid transparent;
    border-bottom: (50px/2) solid transparent;
    border-right: (50px/2) solid yellow;
  }
}
