.nav { background-color: #233140; }

#body [class*=col] { display: -webkit-box; display: -webkit-flex; display: -moz-flex; display: -ms-flexbox; display: flex; -webkit-box-pack: center; -ms-flex-pack: center; -webkit-justify-content: center; -moz-justify-content: center; justify-content: center; -webkit-box-align: center; -ms-flex-align: center; -webkit-align-items: center; -moz-align-items: center; align-items: center; background-color: #2980B9; color: #fff; height: 50px; cursor: pointer; }
#body [class*=col]:hover { background-color: #20638f; }

#course hr { margin: 10px; }
#course div:hover { background-color: #f3f3f3; }
#course h2 { font-weight: bolder; color: #2980B9; }
#course p { margin: 10px 10px; }
#course blockquote { quotes: '\201C' '\201D'; font-size: 5.5em; }
#course blockquote::before, #course blockquote::after { font-family: Arial, san-serif; position: relative; color: #eee; font-size: 2.5em; z-index: -1; }
#course blockquote::before { content: open-quote; left: 25%; top: 170px; }
#course blockquote::after { content: close-quote; left: 45%; top: 40px; }
#course i { font-size: 2.5em; padding: 5px 0 0 5px; color: #2980B9; }
#course .row:last-child { text-align: center; }
#course a { display: inline-block; padding: 10px 20px; margin: 10px 0 20px 0; background-color: #2980B9; color: #fff; text-align: center; }
#course a:hover { background-color: #20638f; }

.flex-column { display: -webkit-box; display: -webkit-flex; display: -moz-flex; display: -ms-flexbox; display: flex; -webkit-box-direction: normal; -webkit-box-orient: vertical; -webkit-flex-direction: column; -moz-flex-direction: column; -ms-flex-direction: column; flex-direction: column; -webkit-box-pack: center; -ms-flex-pack: center; -webkit-justify-content: center; -moz-justify-content: center; justify-content: center; }

.flex-row { display: -webkit-box; display: -webkit-flex; display: -moz-flex; display: -ms-flexbox; display: flex; -webkit-box-direction: normal; -webkit-box-orient: horizontal; -webkit-flex-direction: row; -moz-flex-direction: row; -ms-flex-direction: row; flex-direction: row; -ms-flex-pack: distribute; -webkit-justify-content: space-around; -moz-justify-content: space-around; justify-content: space-around; }

#footer { background-color: #283949; min-height: 150px; padding: 0; margin: 0; text-align: center; }
#footer [class*=col-md] { display: -webkit-box; display: -webkit-flex; display: -moz-flex; display: -ms-flexbox; display: flex; -webkit-box-pack: center; -ms-flex-pack: center; -webkit-justify-content: center; -moz-justify-content: center; justify-content: center; -webkit-box-align: center; -ms-flex-align: center; -webkit-align-items: center; -moz-align-items: center; align-items: center; }
#footer * { color: #fff; }
#footer #dev { list-style: none; margin-top: 10px; }
#footer #dev #name { font-size: 1.3em; }
#footer #dev #name span { color: #476481; display: block; }
#footer #dev i { font-size: 3.5em; color: #476481; display: block; }
#footer #prase { margin-top: 20px; color: #698bac; }
#footer ul#soc { list-style: none; text-align: center; margin: 0; padding: 0; }
#footer ul#soc li { margin-left: 5px; margin-top: 50px; }
#footer ul#soc li i { font-size: 1.5em; background-color: #476481; color: #2C3E50; padding: 10px; border-radius: 50%; }
#footer ul#soc li i:hover { color: #aabed1; }

hr { border-color: rgba(44, 62, 80, 0.1); margin: 20px 0; }

.arrow-left::after { font: 0/0; text-shadow: none; color: transparent; width: 0; height: 0; content: ""; position: relative; top: -26.5px; left: 85.9%; border-top: 25px solid transparent; border-bottom: 25px solid transparent; border-right: 25px solid yellow; }

/*# sourceMappingURL=style.css.map */
