@font-face {
    font-family: 'icomoon';
    src:    url('fonts/icomoon.eot?bhmteu');
    src:    url('fonts/icomoon.eot?bhmteu#iefix') format('embedded-opentype'),
        url('fonts/icomoon.ttf?bhmteu') format('truetype'),
        url('fonts/icomoon.woff?bhmteu') format('woff'),
        url('fonts/icomoon.svg?bhmteu#icomoon') format('svg');
    font-weight: normal;
    font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
    /* use !important to prevent issues with browser extensions that change fonts */
    font-family: 'icomoon' !important;
    speak: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;

    /* Better Font Rendering =========== */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.icon-connection:before {
    content: "\e900";
}
.icon-library:before {
    content: "\e901";
}
.icon-cog:before {
    content: "\e902";
}
.icon-road:before {
    content: "\e903";
}
.icon-power:before {
    content: "\e904";
}
.icon-google-plus:before {
    content: "\e905";
}
.icon-facebook:before {
    content: "\e906";
}
.icon-twitter:before {
    content: "\e907";
}
.icon-youtube:before {
    content: "\e908";
}

